.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
}

img {
  width: 100%;
  height: auto;
}

/* WEBSITE LAYOUT */
.flex-item {
  flex: 25%;
  /* flex-basis: 25%; */
  /* flex-direction: column; */
}

/* TABLET LAYOUT */
@media(max-width: 770px) {
  .flex-item {
    flex: 50%;
  }
}

/* MOBILE LAYOUT */
@media(max-width: 600px) {
  .flex-item {
    flex: 100%;
  }
}